
body{
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  width:100%;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
}

.login{
  margin-top: 125px;
  width: 400px;
  height:450px;
  padding: 60px 35px 35px 35px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1,-13px -13px 20px #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
}

.image{
  width:100px;
  height:100px;
  align-items: center;
  margin: auto 110px;
  box-shadow: 7px 7px 10px 2px #cbced1,-7px -7px 10px 2px #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
}

.title{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 1px;
}

.feild{
  padding: 30px 0px 5px 0px;
  width: 100%;
}

.feild input{border: none;
outline: none;
background: none;
padding: 20px 0px 10px 0px;
color:#555;
font-size: 15px;}

.Id,.pass{

  margin-top: 10px;
  margin-bottom: 20px;
  width:100%;
  margin-top: 10px;

box-shadow: inset 6px 6px 6px #cbced1,inset -6px -6px 6px #ffffff;
border-radius:15px;

}

svg{
  height: 20px;
  margin-left: 5px;
}

.btn{
  width:100%;
  border-radius: 25px;
  border:none;
  font-size: 20px;
  cursor: pointer;
  background-color: #b6eb7a;
  padding: 10px;
  outline: none;
}
.btn:hover{
    background-color: #d3de32;
}
.btn:active{
  box-shadow: 5px 5px 5px #bfdcae;

}
